<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" alt="Foto de perfil" class="img-fluid" id="fotoPerfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Java Developer</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <p> Bienvenidos a mi portfolio web! </p>
            <p> Este portfolio fue desarrollado en Angular y Spring Boot como proyecto final para Argentina Programa, cuenta con un sistema de login JWT, roles de usuario y administrador, funciones C-U-D limitadas a administradores y R accesible para todos.</p>
            <p> Empecé a estudiar programación de manera autodidacta cuando regresé de un intercambio cultural en EEUU en 2020 y luego profundicé mis conocimientos a través de cursos intensivos, en su mayoría de Java y Spring Boot, me encuentro actualmente trabajando como Desarrolladora BI con Salesforce en una empresa y como profesora de inglés particular en mi tiempo libre.</p>
            <p> Gracias por su visita, </p>
            <p> Daiana.</p>
        </span>
    </div>
    
</div>