<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" alt="Foto de perfil" class="img-fluid" id="fotoPerfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Java Developer</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis modi aspernatur et ipsa sequi quasi nemo ut. Repellendus eligendi iste maiores odit obcaecati illum corrupti quae, enim, culpa accusamus quaerat impedit, recusandae perferendis cupiditate. Debitis inventore iure asperiores quo ullam vel architecto non quaerat vitae aspernatur ipsum, id praesentium nihil dolore magni laboriosam ipsam a facere? Praesentium excepturi deserunt, laborum dicta qui ea accusamus quas optio assumenda rem quis aperiam nesciunt dolor iusto nemo ipsum. Minus rem suscipit maiores amet dignissimos, rerum voluptatum. Doloribus aspernatur obcaecati sit! Impedit consectetur ratione consequatur, voluptate doloribus odit quis quidem. Fugiat blanditiis natus qui!</p>
        </span>
    </div>
    
</div>