<div class="row">
   
    <h1> Habilidades y formación </h1>
    

<h3> Habilidades Blandas </h3>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [showUnits]="false"
  [title] = "'Comunicación'"
  [titleFontSize]="'1em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>


<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="85"
  [radius]="80"
  [showUnits]="false"
  [title] = "'Trabajo en equipo'"
  [titleFontSize]="'1em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>


<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="100"
  [radius]="80"
  [showUnits]="false"
  [title] = "'Creatividad'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [showUnits]="false"
  [title] = "'Enseñanza'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>


<h3> Frontend </h3>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [showUnits]="false"
  [title] = "'Angular'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#e0b326'"
  [innerStrokeColor]="'#f5cb42'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [showUnits]="false"
  [title] = "'JavaScript'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#e0b326'"
  [innerStrokeColor]="'#f5cb42'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [showUnits]="false"
  [title] = "'Html/CSS'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#e0b326'"
  [innerStrokeColor]="'#f5cb42'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [showUnits]="false"
  [title] = "'Bootstrap'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#e0b326'"
  [innerStrokeColor]="'#f5cb42'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>

<h3> Backend </h3>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [showUnits]="false"
  [title] = "'Java'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#bc98f3'"
  [innerStrokeColor]="'#d3bcf6'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>


<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [showUnits]="false"
  [title] = "'Spring Boot'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#bc98f3'"
  [innerStrokeColor]="'#d3bcf6'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>


<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [showUnits]="false"
  [title] = "'SQL'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#bc98f3'"
  [innerStrokeColor]="'#d3bcf6'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>


<div class="text-center col-sm-3 col-md-3 col-lg-3">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [showUnits]="false"
  [title] = "'JWT'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#bc98f3'"
  [innerStrokeColor]="'#d3bcf6'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>


<h3> Salesforce </h3>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
<circle-progress
[percent]="85"
[radius]="80"
[showUnits]="false"
[title] = "'Apex'"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#0088b6'"
[innerStrokeColor]="'#179fcd'"
[animation]="true"
[animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
<circle-progress
[percent]="90"
[radius]="80"
[showUnits]="false"
[title] = "'Aura'"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#0088b6'"
[innerStrokeColor]="'#179fcd'"
[animation]="true"
[animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
<circle-progress
[percent]="70"
[radius]="80"
[showUnits]="false"
[title] = "'DML-SOQL'"
[titleFontSize]="'2em'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#0088b6'"
[innerStrokeColor]="'#179fcd'"
[animation]="true"
[animationDuration]="500"
></circle-progress>
</div>


<div class="text-center col-sm-3 col-md-3 col-lg-3">
<circle-progress
[percent]="95"
[radius]="80"
[showUnits]="false"
[title] = "'Sfdx-Git'"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#0088b6'"
[innerStrokeColor]="'#179fcd'"
[animation]="true"
[animationDuration]="500"
></circle-progress>
</div>

</div>